html {
margin: 0;
/* height: 100vh; */
}

body {
height: 100vh;
display: grid;
grid-template-columns: repeat(2,1fr);
grid-gap: 1vw;
grid-auto-rows:minmax(100px,49vw);
background: black;
align-content: center;
}

div {
height: 48vw;
}

.one{
grid-column: 1/2;
}
.two{
    grid-column: 2/3;
}

div img {
    display: grid;
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
  }